{% extends 'base.html' %}

{% block main %}
 <div>
<div class="container">

<br /><br />


<div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Add Integration</h3>
                            </div>
                            <div class="panel-body">


     <div class= "row">

     <div class="col-lg-6">

                    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                    {% csrf_token %}
                            <div class="form-group">
                                <label>Knowlarity details</label>
                                <input class="form-control" name="knowlarity_number" placeholder="Knowlarity number">
                            </div>

                            <div class="form-group">
                                <label>Application details</label>
                                <br />
                                  <div class="form-group">
                                <div class= "row">
                                <div class="col-lg-4">
                                <p>Application type</p>
                                </div>
                                <div class="col-lg-8">
                                <select class="form-control" name="integ">
                                    <option selected disabled hidden value=''></option>
                                    <option value="freshdesk">Freshdesk</option>
                                    <option value="salesforce">Salesforce</option>
                                </select>
                                </div>
                                </div>
                                <br />
                                <input class="form-control" name="app_url" placeholder="Application URL">
                                <br />
                                <input class="form-control" name="api_key" placeholder="Application's API Key">
                                
                            </div>
                            <button type="submit" class="btn btn-default">Save</button>
                            <button type="reset" class="btn btn-default">Reset</button>

                        </form>

                    </div>
     </div>
 
 </div>
</div>
</div>
{% endblock %}


